{% extends 'portal/base.html' %}
{% block title %} Главная {% endblock %}
{% load static %}
{% block content %}
<div class="main-container">
    <div class="slider">
        <div class="slides" id="slides">
            <div class="slide"><img src="{% static 'portal/img/slide1.png' %}"></div>
            <div class="slide"><img src="{% static 'portal/img/slide2.png' %}"></div>
            <div class="slide"><img src="{% static 'portal/img/slide3.png' %}"></div>
        </div>

        <button class="slider-btn prev" onclick="prevSlide()">❮</button>
        <button class="slider-btn next" onclick="nextSlide()">❯</button>
    </div>
    <section id="about">
        <div class="about">
            <h2 class="about_name">О нас</h2>
            <p class="about_text"> Благодаря нашему сайту вы сможете быстро и удобно подать заявку на приобретение
            земельного участка на территории посёлка «Горные Ключи». Мы предлагаем широкий выбор
            участков различной площади и назначения: от строительства уютного загородного дома
            до организации собственного бизнеса или фермерского хозяйства.

            Наша цель — сделать процесс выбора и оформления земли максимально простым и понятным.
            Мы сопровождаем клиента на всех этапах: от подачи заявки до окончательного оформления
            сделки и передачи участка.

            Мы работаем с каждым клиентом индивидуально, помогая подобрать оптимальный вариант,
            исходя из ваших целей, бюджета и предпочтений.</p>
        </div>
    </section>
    {% if user.is_authenticated %}
        <div class="cta-block">
            <h2>Готовы оформить участок?</h2>
            <p>Подайте заявку прямо сейчас</p>
            <a href="{% url 'apple' %}" class="btn-main big">
                Подать заявку
            </a>
        </div>
    {% else %}
    {% endif %}
    <section>
        <h3>Наши услуги</h3>
        <div class="card-grid">
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/map.png' %}" class="card-img"></div>
                <h4>Подбор участка</h4>
                <p>Поможем выбрать участок под ваши цели и бюджет.</p>
            </div>
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/chat.png' %}" class="card-img"></div>
                <h4>Консультация</h4>
                <p>Объясним все нюансы покупки и использования земли.</p>
            </div>
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/docs.png' %}" class="card-img"></div>
                <h4>Оформление</h4>
                <p>Поможем с документами и юридическими вопросами.</p>
            </div>
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/view.png' %}" class="card-img"></div>
                <h4>Просмотр</h4>
                <p>Организуем выезд и осмотр участков.</p>
            </div>
        </div>
    </section>
    <section>
        <h3>Наши преимущества</h3>
        <div class="card-grid">
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/fast.png' %}" class="card-img"></div>
                <h4>Быстро</h4>
                <p>Подача заявки за пару минут.</p>
            </div>
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/layers.png' %}" class="card-img"></div>
                <h4>Выбор</h4>
                <p>Много участков под любые задачи.</p>
            </div>
            <div class="card">
                <div class="img-placeholder"><img src="{% static 'portal/img/shield.png' %}" class="card-img"></div>
                <h4>Надёжно</h4>
                <p>Без скрытых условий.</p>
            </div>
            <div class="card">
               <div class="img-placeholder"><img src="{% static 'portal/img/suport.png' %}" class="card-img"></div>
                <h4>Поддержка</h4>
                <p>С вами на каждом этапе.</p>
            </div>
        </div>
    </section>
    <section id="admins">
    <div class="page">
        <h2>Администрация</h2>
        <p class="subtitle">Наши специалисты</p>
        <div class="admin-wrapper">
            <div class="admin-card">
                <div class="admin-img"><img src="{% static 'portal/img/glava.png' %}" class="admin-img"></div>
                <div class="admin-info">
                    <h3>Людмила Александровна Тыщенко</h3>
                    <p class="role">Глава Горноключевского городского поселения</p>
                    <p class="desc">Принятие постановлений администрации.</p>
                </div>
            </div>
            <div class="admin-card">
                <div class="admin-img"><img src="{% static 'portal/img/icon.png' %}" class="admin-img"></div>
                <div class="admin-info">
                    <h3>Палеха Анна Сергеевна</h3>
                    <p class="role">Начальник</p>
                    <p class="desc">Контроль и организация работы компании</p>
                </div>
            </div>
            <div class="admin-card">
                <div class="admin-img"><img src="{% static 'portal/img/icon2.png' %}" class="admin-img"></div>
                <div class="admin-info">
                    <h3>Хомутовская Олеся Владиславовна</h3>
                    <p class="role">Старший специалист</p>
                    <p class="desc">Работа с клиентами и консультации</p>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
<script>
let index = 0;
function showSlide(i) {
    const slides = document.getElementById("slides");
    const total = slides.children.length;
    if (i >= total) index = 0;
    else if (i < 0) index = total - 1;
    else index = i;
    slides.style.transform = `translateX(-${index * 100}%)`;
}
function nextSlide() {
    showSlide(index + 1);
}
function prevSlide() {
    showSlide(index - 1);
}
setInterval(() => {
    nextSlide();
}, 4000);
</script>
{% endblock %}